### PROB:01 :PREDICT THE BURNED AREA OF FOREST FIRES WITH NEURAL NETWORKS

In [1]:
!pip install keras

Requirement already satisfied: keras in c:\users\priyanka\anaconda3\lib\site-packages (2.8.0)

In [2]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\priyanka\anaconda3\lib\site-packages (2.8.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (3.19.4)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (0.24.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.44.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: flatbuffers>=1.12 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: six>=1.12.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: libclang>=9.0.1 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (13.0.0)
Requirement already satisfied: gast>=0.2.1 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: setuptools in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: numpy>=1.20 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: tensorboard<2.9,>=2.8 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\priyanka\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.6.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\priyanka\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\priyanka\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (5.0.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\priyanka\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\priyanka\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\priyanka\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\priyanka\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\priyanka\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\priyanka\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\priyanka\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\priyanka\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\priyanka\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\priyanka\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\priyanka\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [3]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.neural_network import MLPClassifier,MLPRegressor

import warnings
warnings.filterwarnings('ignore')


from keras.models import Sequential
from keras.layers import Dense,Activation,Layer,Lambda

In [4]:
# IMPORT DATASET
forest_fires_data=pd.read_csv('C:\\Users\\PRIYANKA\\Downloads\\forestfires (1).csv')
forest_fires_data.head(2)

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small

In [5]:
forest_fires_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [6]:
forest_fires_data.shape

(517, 31)

In [7]:
forest_fires_data.describe()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
forest_fires_data.isnull().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [9]:
### AS THE DUMMY VARIABLES ARE ALREADY CREATED WE CAN REMOVE THE MONTH AND DAY COLUMNS
forest_fires_data.drop(['month','day'],axis=1,inplace=True)

In [10]:
forest_fires_data['size_category'].value_counts()

small    378
large    139
Name: size_category, dtype: int64

In [11]:
forest_fires_data.isnull().sum()

FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [12]:
forest_fires_data.shape

(517, 29)

In [13]:
# AS THE SIZE CATEGORY IS OF TWO TYPES WE CAN GIVE SMALL AS 0 AND LARGE AS 1
forest_fires_data.loc[forest_fires_data['size_category']=='small','size_category']=0
forest_fires_data.loc[forest_fires_data['size_category']=='large','size_category']=1

In [14]:
forest_fires_data['size_category'].value_counts()

0    378
1    139
Name: size_category, dtype: int64

In [15]:
#NORMALIZATION
def norm_func(i):
    x=(i-i.min())/(i.max()-i.min())
    return(x)

In [16]:
predictors = forest_fires_data.iloc[:,0:28]
target= forest_fires_data.iloc[:,28]

In [17]:
predictors1=norm_func(predictors)
predictors1

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,0.811613,0.191592,0.771315,0.033868,0.823151,0.200000,0.255556,0.00000,0.005904,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
513,0.811613,0.191592,0.771315,0.033868,0.633441,0.658824,0.600000,0.00000,0.049769,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,0.811613,0.191592,0.771315,0.033868,0.610932,0.647059,0.700000,0.00000,0.010231,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515,0.976774,0.499311,0.711622,0.201426,0.752412,0.317647,0.400000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
516,0.784516,0.006547,0.115867,0.019608,0.308682,0.188235,0.455556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [18]:
data=pd.concat([predictors1,target],axis=1)
data

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0.000000,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
1,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
3,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0.000000,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
4,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,0.811613,0.191592,0.771315,0.033868,0.823151,0.200000,0.255556,0.00000,0.005904,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
513,0.811613,0.191592,0.771315,0.033868,0.633441,0.658824,0.600000,0.00000,0.049769,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
514,0.811613,0.191592,0.771315,0.033868,0.610932,0.647059,0.700000,0.00000,0.010231,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
515,0.976774,0.499311,0.711622,0.201426,0.752412,0.317647,0.400000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
516,0.784516,0.006547,0.115867,0.019608,0.308682,0.188235,0.455556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(predictors1,target,test_size=0.3,stratify=target)

In [38]:
def prep_model(hidden_dim):
    model = Sequential()
    for i in range(1,len(hidden_dim)-1):
        if(i==1):
            model.add(Dense(hidden_dim[i],input_dim=hidden_dim[0],activation='relu'))
        else:
            model.add(Dense(hidden_dim[i],activation='relu'))
    model.add(Dense(hidden_dim[-1],kernel_initializer='normal',activation='sigmoid'))       
    model.compile(loss='binary_crossentropy',optimizer='rmsprop',metrics=['accuracy'])
    return model

In [39]:
y_train=pd.DataFrame(y_train)
y_train

    size_category
482             0
289             0
290             0
64              0
301             0
..            ...
461             0
223             1
78              0
51              0
320             1

[361 rows x 1 columns]

In [40]:
x_train=pd.DataFrame(x_train)
x_train

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
482,0.983226,0.445210,0.679254,0.251337,0.681672,0.294118,0.600000,0.0,0.001183,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289,0.940645,0.355272,0.547672,0.160428,0.710611,0.176471,0.155556,0.0,0.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
290,0.940645,0.355272,0.547672,0.160428,0.530547,0.447059,0.155556,0.0,0.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
64,0.934194,0.351826,0.739885,0.103387,0.672026,0.188235,0.300000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
301,0.925161,0.317712,0.340331,0.133690,0.543408,0.282353,0.555556,0.0,0.003227,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,0.967742,0.792557,0.829366,0.149733,0.536977,0.576471,0.500000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
223,0.898065,0.514128,0.354169,0.121212,0.360129,0.752941,0.355556,0.0,0.033937,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
78,0.921290,0.368367,0.612056,0.222816,0.401929,0.600000,0.255556,0.0,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.922581,0.339421,0.730972,0.112299,0.620579,0.223529,0.200000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
320,0.956129,0.406272,0.909581,0.133690,0.536977,0.223529,0.755556,0.0,0.031499,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [41]:
first_model=prep_model([28,50,40,20,1])

pred_train=first_model.predict(np.array(x_train))
pred_train

array([[0.5006117 ],
       [0.50219935],
       [0.50078964],
       [0.5025618 ],
       [0.50802404],
       [0.49955994],
       [0.50462353],
       [0.5048351 ],
       [0.5044952 ],
       [0.5075432 ],
       [0.50113165],
       [0.49991468],
       [0.50647056],
       [0.5018263 ],
       [0.506196  ],
       [0.49781123],
       [0.49767104],
       [0.49856183],
       [0.49701485],
       [0.49974465],
       [0.5010184 ],
       [0.5042937 ],
       [0.5021588 ],
       [0.5082924 ],
       [0.5023444 ],
       [0.500111  ],
       [0.50115466],
       [0.49992958],
       [0.49725184],
       [0.49749708],
       [0.5033458 ],
       [0.50209904],
       [0.49854326],
       [0.5015137 ],
       [0.50246495],
       [0.49766865],
       [0.5041744 ],
       [0.5008317 ],
       [0.501334  ],
       [0.50105035],
       [0.50293803],
       [0.49918765],
       [0.50232244],
       [0.5005192 ],
       [0.5064449 ],
       [0.49889883],
       [0.49958593],
       [0.5030541 ],
       [0.4996996 ],
       [0.5019825 ],
       [0.50193316],
       [0.5118967 ],
       [0.50394434],
       [0.5008413 ],
       [0.503973  ],
       [0.50455517],
       [0.5016318 ],
       [0.50442386],
       [0.5046533 ],
       [0.5005367 ],
       [0.50470173],
       [0.50197   ],
       [0.499404  ],
       [0.49844494],
       [0.5027902 ],
       [0.5006341 ],
       [0.50521183],
       [0.50101906],
       [0.49981597],
       [0.49816915],
       [0.50039774],
       [0.4990434 ],
       [0.5026194 ],
       [0.4981113 ],
       [0.49746883],
       [0.5065519 ],
       [0.50069195],
       [0.50196135],
       [0.50191027],
       [0.49962336],
       [0.5084867 ],
       [0.49784908],
       [0.50378144],
       [0.4993742 ],
       [0.49822968],
       [0.50233614],
       [0.49984577],
       [0.5000072 ],
       [0.5024731 ],
       [0.49823567],
       [0.501215  ],
       [0.50091267],
       [0.49891075],
       [0.49774784],
       [0.501424  ],
       [0.49827683],
       [0.50000054],
       [0.5005971 ],
       [0.5047257 ],
       [0.49862298],
       [0.4980873 ],
       [0.5062816 ],
       [0.5010549 ],
       [0.5075615 ],
       [0.49939844],
       [0.5025348 ],
       [0.5007687 ],
       [0.50678885],
       [0.50479734],
       [0.49512976],
       [0.49817368],
       [0.5029664 ],
       [0.49863827],
       [0.50352883],
       [0.50130236],
       [0.5070776 ],
       [0.5003301 ],
       [0.4953514 ],
       [0.5063528 ],
       [0.50054574],
       [0.49881887],
       [0.4951621 ],
       [0.49963468],
       [0.5009241 ],
       [0.4994381 ],
       [0.5045432 ],
       [0.50777954],
       [0.50166833],
       [0.5054757 ],
       [0.5004446 ],
       [0.5013828 ],
       [0.4988039 ],
       [0.5047117 ],
       [0.50171316],
       [0.49709317],
       [0.49881858],
       [0.49886775],
       [0.49860522],
       [0.50619775],
       [0.50185996],
       [0.4977648 ],
       [0.50350153],
       [0.50197905],
       [0.49889883],
       [0.50206524],
       [0.5065155 ],
       [0.49719504],
       [0.5043308 ],
       [0.49505067],
       [0.4970374 ],
       [0.5013032 ],
       [0.50669897],
       [0.49942663],
       [0.50617206],
       [0.50324166],
       [0.5057488 ],
       [0.5066001 ],
       [0.5046655 ],
       [0.4999129 ],
       [0.50281805],
       [0.49716637],
       [0.50061506],
       [0.49977356],
       [0.5018685 ],
       [0.49895966],
       [0.50206316],
       [0.50114983],
       [0.49783364],
       [0.49754506],
       [0.5021583 ],
       [0.5001981 ],
       [0.50605184],
       [0.49900487],
       [0.50110936],
       [0.504203  ],
       [0.5007945 ],
       [0.5037019 ],
       [0.50727546],
       [0.504635  ],
       [0.4991052 ],
       [0.5073601 ],
       [0.5024877 ],
       [0.4973738 ],
       [0.50526154],
       [0.50028056],
       [0.5009959 ],
       [0.49745205],
       [0.50132126],
       [0.5118931 ],
       [0.4990925 ],
       [0.49791336],
       [0.5016915 ],
       [0.50229555],
       [0.49764448],
       [0.50126755],
       [0.5013311 ],
       [0.50506693],
       [0.497923  ],
       [0.5068378 ],
       [0.49952218],
       [0.49934918],
       [0.50555104],
       [0.50693184],
       [0.49693114],
       [0.5017431 ],
       [0.4977448 ],
       [0.4963599 ],
       [0.50216955],
       [0.4985579 ],
       [0.5043837 ],
       [0.50460786],
       [0.50804365],
       [0.50767815],
       [0.49958345],
       [0.50434613],
       [0.50052553],
       [0.50134814],
       [0.5074887 ],
       [0.5007008 ],
       [0.4985306 ],
       [0.50179183],
       [0.50323963],
       [0.49938187],
       [0.5076583 ],
       [0.4996751 ],
       [0.49878678],
       [0.4981994 ],
       [0.5006423 ],
       [0.5059699 ],
       [0.49857533],
       [0.5018963 ],
       [0.5009878 ],
       [0.5045935 ],
       [0.4980019 ],
       [0.50419414],
       [0.50090444],
       [0.50534356],
       [0.50696135],
       [0.5049364 ],
       [0.5005579 ],
       [0.50630075],
       [0.5079746 ],
       [0.50227517],
       [0.50002766],
       [0.49980593],
       [0.50074196],
       [0.50460416],
       [0.4981544 ],
       [0.50491244],
       [0.50303304],
       [0.5051949 ],
       [0.50573295],
       [0.50404125],
       [0.50731707],
       [0.50724953],
       [0.49828452],
       [0.50117266],
       [0.49742657],
       [0.49878794],
       [0.49846774],
       [0.50035185],
       [0.5009087 ],
       [0.50767887],
       [0.49992633],
       [0.4984478 ],
       [0.5075577 ],
       [0.50117266],
       [0.50365317],
       [0.5084743 ],
       [0.50549114],
       [0.50393075],
       [0.4989099 ],
       [0.49914363],
       [0.49686325],
       [0.4988648 ],
       [0.49869987],
       [0.5038073 ],
       [0.50018495],
       [0.5031944 ],
       [0.5006942 ],
       [0.5027844 ],
       [0.50606906],
       [0.5024739 ],
       [0.5029514 ],
       [0.49498495],
       [0.5055753 ],
       [0.5054476 ],
       [0.49933022],
       [0.5098202 ],
       [0.50622123],
       [0.501775  ],
       [0.5053142 ],
       [0.4987695 ],
       [0.50640935],
       [0.50370556],
       [0.5028596 ],
       [0.4997596 ],
       [0.5029187 ],
       [0.50260884],
       [0.508174  ],
       [0.50214046],
       [0.49770376],
       [0.49872172],
       [0.5058902 ],
       [0.50684893],
       [0.50568444],
       [0.4994236 ],
       [0.4994992 ],
       [0.49863827],
       [0.50028145],
       [0.50537914],
       [0.4984566 ],
       [0.5067578 ],
       [0.5031398 ],
       [0.5050264 ],
       [0.50311726],
       [0.49740458],
       [0.50183713],
       [0.5026616 ],
       [0.50449044],
       [0.5034075 ],
       [0.49920505],
       [0.49757516],
       [0.50339764],
       [0.49806938],
       [0.49919054],
       [0.5054692 ],
       [0.49869847],
       [0.49933484],
       [0.50453794],
       [0.4983599 ],
       [0.49966902],
       [0.5061736 ],
       [0.5012771 ],
       [0.4991544 ],
       [0.5008277 ],
       [0.4979172 ],
       [0.49850684],
       [0.50018495],
       [0.4985221 ],
       [0.50590277],
       [0.5042241 ],
       [0.5055628 ],
       [0.4983613 ],
       [0.5049514 ],
       [0.49999943],
       [0.49862158],
       [0.50865406],
       [0.49821907],
       [0.4987802 ],
       [0.49755493],
       [0.5007527 ],
       [0.49797216],
       [0.5043996 ],
       [0.49818304],
       [0.50033647],
       [0.4977448 ],
       [0.5002527 ],
       [0.499255  ],
       [0.50076425],
       [0.49935144]], dtype=float32)

In [42]:
#CONVERTING THE PREDICTED VALUES TO SERIES
pd.Series([i[0] for i in pred_train])

0      0.500612
1      0.502199
2      0.500790
3      0.502562
4      0.508024
         ...
356    0.497745
357    0.500253
358    0.499255
359    0.500764
360    0.499351
Length: 361, dtype: float32

In [43]:
size=['small','large']
pred_train_class=pd.Series(['small']*361)

In [44]:
train = pd.concat([x_train,y_train],axis=1)
train

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
482,0.983226,0.445210,0.679254,0.251337,0.681672,0.294118,0.600000,0.0,0.001183,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
289,0.940645,0.355272,0.547672,0.160428,0.710611,0.176471,0.155556,0.0,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
290,0.940645,0.355272,0.547672,0.160428,0.530547,0.447059,0.155556,0.0,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
64,0.934194,0.351826,0.739885,0.103387,0.672026,0.188235,0.300000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
301,0.925161,0.317712,0.340331,0.133690,0.543408,0.282353,0.555556,0.0,0.003227,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,0.967742,0.792557,0.829366,0.149733,0.536977,0.576471,0.500000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
223,0.898065,0.514128,0.354169,0.121212,0.360129,0.752941,0.355556,0.0,0.033937,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
78,0.921290,0.368367,0.612056,0.222816,0.401929,0.600000,0.255556,0.0,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
51,0.922581,0.339421,0.730972,0.112299,0.620579,0.223529,0.200000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
320,0.956129,0.406272,0.909581,0.133690,0.536977,0.223529,0.755556,0.0,0.031499,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1

In [45]:
train['size_category'].value_counts()

0    264
1     97
Name: size_category, dtype: int64

In [46]:
#FOR TRAINING DATA
from sklearn.metrics import confusion_matrix
train['original_class']='small'
train.loc[train['size_category']==1,'original_class']='large'
train.original_class.value_counts()

small    264
large     97
Name: original_class, dtype: int64

In [47]:
confusion_matrix(pred_train_class,train['original_class'])

array([[  0,   0],
       [ 97, 264]], dtype=int64)

In [48]:
np.mean(pred_train_class==pd.Series(train['original_class']).reset_index(drop=True))

0.7313019390581718

In [49]:
pd.crosstab(pred_train_class,pd.Series(train['original_class']).reset_index(drop=True))

original_class  large  small
row_0
small              97    264

In [50]:
#FOR TEST DATA
pred_test=first_model.predict(np.array(x_test))
pred_test=pd.Series([i[0] for i in pred_test])
pred_test_class = pd.Series(['small']*156)
pred_test_class[[i>0.5 for i in pred_test]]='large'
pred_test_class

0      small
1      large
2      large
3      large
4      large
       ...
151    large
152    large
153    large
154    large
155    small
Length: 156, dtype: object

In [51]:
test=pd.concat([x_test,y_test],axis=1)
test['original_class']='small'
test.loc[test['size_category']==1,'original_class']='large'

In [52]:
test['original_class'].value_counts()

small    114
large     42
Name: original_class, dtype: int64

In [53]:
np.mean(pred_test_class==pd.Series(test['original_class']).reset_index(drop='True'))

0.48717948717948717

In [54]:
confusion_matrix(pred_test_class,test['original_class'])

array([[24, 62],
       [18, 52]], dtype=int64)

In [55]:
pd.crosstab(pred_test_class,pd.Series(test["original_class"]).reset_index(drop=True))

original_class  large  small
row_0
large              24     62
small              18     52